.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 24px 0;
  }
  
  .contact_picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .contact {
      padding: 0;
    }
    .contact_picture {
      width: 32px;
      height: 32px;
    }
    .contact_name {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: right;
    }
  }
  
  .contact_name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: right;
    margin-right: 10px;
    color: #ff6060;
  }
  
  .contact_firstname {
    margin-bottom: 5px;
  }
  .contact_lastname {
    margin-top: 5px;
  }
  